tensorflow
matplotlib
pandas
numpy
scikit-learn
imbalanced-learn
ipympl
tfds-nightly
fastbook
keras-tuner
seaborn
opendatasets
torchsummary
jupyterlab-lsp
python-lsp-server[all]
ray[default]
bayesian-optimization==1.4.3
pydicom
timm

--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio
